<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" id="palavra" oninput="enviar()">
    <button onclick="enviar()">Enviar</button>
    <hr>
    <p id="resultado"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script>
    var socket = io("http://localhost:3000/"); 

    socket.on("disconnect", () =>{
        console.log("Desconctado");
    });

    socket.emit("boasvindas", {nome: 'David Rodrigues'});

    socket.on("resultado", (data) =>{
        var p = document.getElementById("resultado");
        p.innerHTML = data;

    });

    function enviar (){
        var input = document.getElementById("palavra");
        console.log(input.value);
        socket.emit("palavra",input.value);
    }

</script>
</html>